@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap'); 

.loading{
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.loadingTitle{
    font-size: 35px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.loadingAnimation p{
    font-size: 30px;
    font-family: 'Archivo', sans-serif;
}